{% extends '::base.html.twig' %}
{% block title %}NFQ Lektoriai{% endblock %}
{% block body %}
    <div class="container">
    <article class="article">
        <br>
        <h1 class="acenter">Lektorių tvarkymas</h1><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <form>
                    <div>
                        <label>Name</label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div>
                        <label>Active</label>
                        <input type="checkbox"/>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-lg-6">
                <button class="btn btn-bg">Add new</button>
            </div>
        </div>
    </div>
    </article>
    </div>
{% endblock %}