{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <article class="article user-list">
        <br>
        <h1 class="acenter">Paskaitų informacija</h1><br>
        <table class="table">
            <th>Nr.</th>
            <th>Pavadinimas</th>
            <th>Aprašymas</th>
            <th></th>
            {% for item in workshops %}
                {% if item.getLector.getName ==  app.user.Name  %}
                <tr>
                    <td>{{ item.getId }}</td>
                    <td>{{ item.getTitle }}</td>
                    <td>{{ item.getDescription }}</td>
                </tr>
                    {% endif %}
            {% endfor %}
        </table>
    </article>

{% endblock %}