{% extends '::base.html.twig' %}
{% block title %}NFQ Lektoriai{% endblock %}
{% block body %}
    <div class="container">
    {% include "::inc/navGeras.html.twig" %}


    <article class="article">
        <br>
        <h1 class="acenter">Dėstytojų sąrašas</h1><br>

    </article>
</div>
{% endblock %}