body{}
.container{
  min-width: 400px;
  margin-bottom: 0;
  min-height: 30px !important;
}
//==HEADER===================================
html,
body {
  width: 100%;
  height: 100%;
}

#page-wrapper {
  position: relative;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.header{
  .navbar-inverse{
    background-color: #322F2B;
    border-radius: 0px;
    .navbar-toggle {
      border-color: #333;
      margin-top: 18px;
    }
    .image-holder img {
      margin: 10px 0 10px 10px;
      width: 50px;
      height: 50px;
    }
    .item-a{
      margin-top: 10px;
      font-size: 20px;
      text-decoration: none;
      color: #B6ADA5;
    }
    .icon-bar{
      vertical-align: middle;
    }
  }
}
//==ARTICLE===================================
.article{
  padding: 20px;
  margin-left: 0px;
  min-height: 400px;
  background-color: #fffdfa;
}
//==FOOTER===================================
.footer {
  text-align: right;
  display: table-row;
  width: 100%;
  height: 1px;
  background-color: rgba(216, 216, 216, 0.2);
  color: white;
}
