

body{
  background-color: #00A5E3;


}

.tekstas {
  font-size: 24px;
  text-decoration: underline;
}
// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================