.underline{
  text-decoration: underline;
  font-weight: bold;
}

.modal-header{
  background-color: orange;
  color: dimgray;
}

.modal-title{
  font-weight: bold;
}

.modal-footer{
  background-color:#E4E4E4;
  color: white;
}
.modal-member{
  padding-left: 80px;
}