.workshop-list {
  .one-student-input {
    border: none;
    color: dimgray;
    background-color: transparent;
  }
  .table-container {
    min-width: 400px;
    overflow-x: scroll;
    table {
      min-width: 800px;
   }
  }
  .team-input{
    color: dimgray;
    border-color: #322F2B;
    border-radius: 4px;
    background-color: transparent;
  }
  #parent #popup {
    display: none;
  }

  #parent:hover #popup {
    display: block;
  }
  #b {
    display: block;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width:5px;
  }
  input[type=number] {
    -moz-appearance:textfield;
    width:30px;
  }
}



