{% extends "::base.html.twig" %}

{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}
    {% include "::inc/nav.html.twig" %}

    <article class="article">
        <div class="center">
            <p>
                <div class="image-hello"><img src="{{ asset('images/hello.png') }}"></div>

            </p>
            <h1>Sveiki atvykę į NFQ akademiją!!!</h1>
        </div>

    </article>

{% endblock %}
