{% extends "::base.html.twig" %}

{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}
    {% include "::inc/nav.html.twig" %}

    <article class="article">

        <h1>Sveiki atvykę į NFQ akademiją</h1>

    </article>

{% endblock %}
