{% extends "::base.html.twig" %}

{% block title %}NFQ Pagrindinis{% endblock %}

{% block body %}
<article class="article">
    <div class="center">
         <h1>Sveiki atvykę į NFQ akademiją!!!</h1>
    </div>
</article>
{% endblock %}
