{% extends "::base.html.twig" %}

{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}
<h1>Welcome to the Home:index page</h1>
        <ul>
            <li><a href="team/list">Teams</a></li>
            <li><a href="team/workshop/list">Workshops</a></li>
        </ul>
{% endblock %}
