{% extends "::base.html.twig" %}


{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}
<article class="article">

    <!-- LOGIN FORM -->
    <div class="text-center" style="padding:70px 0">
        <div class="login">Prisijungti</div>
        <!-- Main Form -->
        <div class="login-form-1">
            <form id="login-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="lg_username" class="sr-only">Username</label>
                            <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="El. paštas">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="Slaptažodis">
                        </div>
                        <div class="form-group login-group-checkbox">
                            <input type="checkbox" id="lg_remember" name="lg_remember">
                            <label for="lg_remember">Prisiminti mane</label>
                        </div>
                    </div>
                    <button type="submit" class="login-button">
                        <a class="fa fa-chevron-right" href="/home">

                        </a>
                    </button>
                </div>
                <div class="etc-login-form">
                    <p>Pamiršote staptažodį? <a class="press-here" href="#">spausti čia</a></p>
                </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>

</article>


{% endblock %}
