{% extends "::base.html.twig" %}

{% block title %}NFQ Pagrindinis{% endblock %}

{% block body %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
        var teams = {{ grades.teams|json_encode()}};
        function getLectureAverageTeam(t, l) //team and lecture
        {
            var average = 0;
            var marks = 0;
            for (i = 0; i < t.members.length; i++) {
                if (typeof t.members[i].grades[l] === 'undefined') {
                }
                else {
                    average += t.members[i].grades[l];
                    marks++;

                }
            }
            average = average / marks;
            return average;
        }
        function getLecturesAverages(t)
        {
            averages = [];
            for (i = 0; i<)
        }
        var x = getLectureAverageTeam(window.teams[1],2)
    </script>
    <div class="container">
        {% include "::inc/navGeras.html.twig" %}
        {% include "::inc/adminNavBar.html.twig" %}
        <div class="overview_grades">
            <script>
                $(function () {

                    Highcharts.chart('grades', {
                        title: {
                            text: 'Paskutini킬 paskait킬 vidurkiai',
                            x: -20 //center,
                        },
                        subtitle: {
                            text: '2016 Rudens semestras',
                            x: -20
                        },
                        xAxis: {
                            categories: ['11.06', '11.09', '11.15', '11.20', '11.22', '11.29'],
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#100100100'
                            }]
                        },
                        yAxis: {
                            title: {
                                text: 'Vidurkiai'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#100100100'
                            }],
                            max: 10,
                            min: 0
                        },
                        chart: {
                            //backgroundColor: '#000000'
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                },
                                enableMouseTracking: false
                            }
                        },
                        series: [{
                            name: 'Terminal Noobs',
                            data: window.x
                        },
                            {
                                name: 'Second Team',
                                data: 1
                            }]
                    })

                });
            </script>
            <script>
                $(function () {
                    Highcharts.chart('attendance', {
                        title: {
                            text: 'Paskutini킬 paskait킬 lankomumas',
                            x: -20 //center,
                        },
                        subtitle: {
                            text: '2016 Rudens semestras',
                            x: -20
                        },
                        xAxis: {
                            categories: ['11.06', '11.09', '11.15', '11.20', '11.22', '11.29'],
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#100100100'
                            }]
                        },
                        yAxis: {
                            title: {
                                text: 'Lankomumas'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#100100100'
                            }],
                            max: 100,
                            min: 0
                        },
                        chart: {
                            //backgroundColor: '#000000'
                            type: "column"
                        },
                        tooltip: {
                            valueSuffix: '%'
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },

                        series: [{
                            name: 'Kaunas',
                            data: [100, 95, 80, 85, 93, 97]
                        },
                            {
                                name: 'Vilnius',
                                data: [97, 85, 65, 93, 78, 43]
                            }
                        ]
                    });
                });
            </script>
            <div id="grades"></div>
            <div id="attendance"></div>
        </div>


    </div>
{% endblock %}
