{% extends "::base.html.twig" %}

{% block title %}NFQ Pagrindinis{% endblock %}

{% block body %}
    <article class="article admin-overview">
    <div class="overview_grades">
        <div id="grades" ></div>
        <div id="attendance"></div>
    </div>

</article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('grades', {
                title: {
                    text: 'Paskutini킬 paskait킬 vidurkiai',
                    x: -20 //center,
                },
                subtitle: {
                    text: '2016 Rudens semestras',
                    x: -20
                },
                xAxis: {
                    categories: ['11.06', '11.09', '11.15', '11.20', '11.22', '11.29'],
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#100100100'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Vidurkiai'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#100100100'
                    }],
                    max: 10,
                    min: 0
                },
                chart: {
                    //backgroundColor: '#000000'
                },
                tooltip: {
                    valueSuffix: ''
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Terminal Noobs',
                    data: [9.5, 8.2, 7.9, 10, 5, 9.5]
                }, {
                    name: '3rd Team',
                    data: [2, 1, 5, 8.9, 6.5, 7]
                }, {
                    name: '2nd Team',
                    data: [1, 2, 4, 5, 6, 5]
                }, {
                    name: '1st Team',
                    data: [3.9, 4.2, 5.7, 8.5, 6.6, 4.8]
                }]
            })

        });

        $(function () {
            Highcharts.chart('attendance', {
                title: {
                    text: 'Paskutini킬 paskait킬 lankomumas',
                    x: -20 //center,
                },
                subtitle: {
                    text: '2016 Rudens semestras',
                    x: -20
                },
                xAxis: {
                    categories: ['11.06', '11.09', '11.15', '11.20', '11.22', '11.29'],
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#100100100'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Lankomumas'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#100100100'
                    }],
                    max: 100,
                    min: 0
                },
                chart: {
                    //backgroundColor: '#000000'
                    type: "column"
                },
                tooltip: {
                    valueSuffix: '%'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },

                series: [{
                        name: 'Kaunas',
                        data: [100, 95, 80, 85, 93, 97]
                    },
                    {
                        name: 'Vilnius',
                        data: [97, 85, 65, 93, 78, 43]
                    }
                ]
            });
        });
    </script>

{% endblock %}
