{% extends "::base.html.twig" %}

{% block title %}AppBundle:Team:create{% endblock %}

{% block body %}
    {% include "::inc/nav.html.twig" %}
        <article class="article">
        <h1>Komandų tvarkymas</h1>
            <a href="#">Edit</a><br>
            <a href="#">Add</a><br>
            <a href="#">Delete</a><br>


        </article>
{% endblock %}
