{% extends "::base.html.twig" %}

{% block title %}NFQ Komandos{% endblock %}

{% block body %}
    {% include "::inc/nav.html.twig" %}
        <article class="article">
        <h1>Komandų tvarkymas</h1>
            <a class="aa" href="#">Edit</a><br>
            <a class="aa" href="#">Add</a><br>
            <a class="aa" href="#">Delete</a><br>


        </article>
{% endblock %}
