{% extends "::base.html.twig" %}

{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}


    <article class="article">

        <a href="#">&plus;</a>
        <h1>Lektoriai</h1>
        <ul>



            {% for a in  teams%}
                <li> {{  a.getName}}
                </li>


            {% endfor %}
        </ul>
        <table class="red-table">
            <tr>
                <td>
                    <p>* Jonas Jonaitis</p>
                </td><td>
                    <p>* Jonas Jonaitis</p>
                </td><td>
                    <p>* Jonas Jonaitis</p>
                </td><td>
                    <p>* Jonas Jonaitis</p>
                </td><td>
                    <p>* Jonas Jonaitis</p>
                </td><td>
                    <p>* Jonas Jonaitis</p>
                </td>
            </tr>
        </table>


    </article>


{% endblock %}
