{% extends "::base.html.twig" %}

{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}

    {% include "::inc/nav.html.twig" %}
    <article class="article">

        <a href="#">&plus;</a>
        <h1>Komandos</h1>
        <ul>



            {% for a in  teams%}
                <li> {{  a.getName}}
                </li>


            {% endfor %}
        </ul>



    </article>


{% endblock %}
