
<div class="adminNavBar">
    <ul>
        <li><a class="Overview" href="./overview">Overview</a></li>
        <li><a class="Vidurkiai"href="">Vidurkiai</a></li>
        <li><a class= "Lankomumas"href="">Lankomumas</a></li>
        <li><a class= "Komandos"href="">Komandos</a> </li>
        <li><a class= "Akademijos"href="">Akademijos</a></li>
    </ul>
</div>