<div class="footer">
    <div class="page">
        <div class="clear-footer-content">
            <div class="entry clear">
                <div class="contacts">
                    <div class="vcard">
                        <strong>Kaune</strong>
                        <p class="adr">Brastos g. 15, LT-47183 Kaunas</p>
                        "
                        Tel. "
                        <span class="tel">+370 37 333 053</span>
                        <br>
                        <a href="mailto:info@nfq.lt" rel="nofollow" title="Email info@nfq.lt">info@nfq.lt</a>
                        <br>
                    </div>
                    <div class="vcard">
                        <strong>Vilniuje</strong>
                        <p class="adr">Konstitucijos pr. 7, LT-09308 Vilnius</p>
                        <p class="adr">( Verslo centras „Europa“ )</p>
                        "
                        Tel. "
                        <span an class="tel">+370 5 248 7499</span>
                        <br>
                        <a href="mailto:info@nfq.lt" rel="nofollow" title="Email info@nfq.lt">info@nfq.lt</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>