<footer class="footer">
        <div class="container">
                <p class="h5 text-muted">
                        NFQ Akademija ©
                        <a  class="footer-link h5 text-muted" href="https://github.com/nfqakademija/terminal_noobs">terminal_noobs</a>
                </p>
        </div>
</footer>