<header class="header">
    <div class="page">

        <a class="image-out" href="/" id="/" onclick="window.location = '/';" >
            <img src="{{ asset('images/logout.png') }}">
        </a>
        <p class="login-as">Prisijunęs kaip Vardenis</p>

        <a class="image-holder" href="/home" id="home" onclick="window.location = '/home';" >
            <img src="{{ asset('images/logo.png') }}">
        </a>
<br>
        <a href="/home" class="logo" >NFQ Akademija</a>
    </div>

</header>