<header class="header">
    <div class="page">

        <div class="image-holder"><img src="{{ asset('images/logo.png') }}"></div>
        <div class="logo" >NFQ Akademija</div>
        <div class="image-out"><img src="{{ asset('images/logout.png') }}"></div>
    </div>

</header>