<nav class="nav">

    <div class="width-menu">
        <ul class="width-item menu">
            <li class="width-item">

                <div class="btn-group">
            <li><a href="/home">Pagrindinis</a></li>
                    <!-- Lentelės -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lentelės <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/workshop/table">Pažymiai</a></li>
                    <li><a href="/workshop/attendance">Lankomumas</a></li>
                    <li class="divider"></li>
                    <li><a href="/workshop/list">Paskaitų informacija</a></li>
                </ul>
            </li>

            <!-- Komandos -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Komandos <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/team/list">Peržiūrėti</a></li>
                    <li class="divider"></li>
                    <li><a href="/team/create">Tvarkyti</a></li>
                </ul>
            </li>

            <!-- Lektoriai -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lektoriai <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Peržiūrėti (neveikia nuorod.)</a></li>
                    <li class="divider"></li>
                    <li><a href="/lectors/create">Tvarkyti</a></li>
                </ul>
            </li>

            </li>
        </ul>
    </div>

</nav>