<nav class="navbar navbar-default" class="nav">
    <div class="nav"class="container-fluid" >
        <div class="navbar-header">
            <ul class="btn-group">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li><a class="item-a" href="/home">Pagrindinis</a></li>
                        <!-- Lentelės -->
                        <li><a class="item-a" href="/workshop/table">Pažymiai</a></li>
                        <li><a class="item-a" href="/workshop/attendance">Lankomumas</a></li>
                        <li><a class="item-a" href="/workshop/list">Paskaitų informacija</a></li>

                        <!-- Komandos -->
                        <li class="dropdown">
                            <a href="#" class="item-a" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Komandos <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="item-a" href="/team/list">Peržiūrėti</a></li>
                                <li class="divider"></li>
                                <li><a class="item-a" href="/team/create">Tvarkyti</a></li>
                            </ul>
                        </li>

                        <!-- Lektoriai -->
                        <li class="dropdown">
                            <a href="#" class="item-a" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lektoriai <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="item-a" href="#">Peržiūrėti (neveikia nuorod.)</a></li>
                                <li class="divider"></li>
                                <li><a class="item-a" href="/lectors/create">Tvarkyti</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>

</nav>