<nav class="nav">

    <div class="width-menu">
        <ul class="width-item menu">
            <li class="width-item">

                <div class="btn-group">

                <!-- Lektoriai -->
                <div class="btn-toolbar">
                    <div class="btn-group open">
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Lektoriai
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tvarkyti</a></li>
                            <li><a href="#">Rodyti</a></li>
                          </ul>
                    </div>
                </div>

                <!-- Komandos -->
                <div class="btn-toolbar">
                    <div class="btn-group open">
                        <a href="/team/list" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            Komandos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/team/edit">Tvarkyti</a></li>
                            <li><a href="team/show">Rodyti</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Tvarkaraštis -->
                <div class="btn-toolbar">
                    <div class="btn-group open">
                        <a href="/workshop/list" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            Tvarkaraštis
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/workshop/list">Paskaitos</a></li>
                        </ul>
                    </div>
                </div>

                </div>


            </li>
        </ul>
    </div>

</nav>