<nav class="nav">

    <div class="width-menu">
        <ul class="width-item menu">
            <li class="width-item">

                <div class="btn-group">

                <!-- Lektoriai -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lektoriai <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Peržiūrėti</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Tvarkyti</a></li>
                        </ul>
                    </li>

                <!-- Komandos -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Komandos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Peržiūrėti</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Tvarkyti</a></li>
                        </ul>
                    </li>

                <!-- Tvarkaraštis -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tvarkaraštis <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Peržiūrėti</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Žymėti lankomumą</a></li>
                            <li><a href="#">Rašyti pažymius</a></li>
                        </ul>
                    </li>


            </li>
        </ul>
    </div>

</nav>