<nav class="navbar navbar-default" class="nav">
    <div class="nav"class="container-fluid" >
        <div class="navbar-header">
            <ul class="btn-group">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                <li><a class="item-a" href="/home">Pagrindinis</a></li>
                <!-- Lentelės -->
                        <li><a class="item-a" href="/workshop/table">Pažymiai</a></li>
                        <li><a class="item-a" href="/workshop/attendance">Lankomumas</a></li>
                        <li><a class="item-a" href="/workshop/list">Paskaitų informacija</a></li>
            </ul>
        </div>
                </ul>
       </div>
    </div>

</nav>