
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a class="item-a" href="/home">Pagrindinis</a></li>
                <li><a class="item-a" href="/workshop/table">Pažymiai</a></li>
                <li><a class="item-a" href="/workshop/attendance">Lankomumas</a></li>
                <li><a class="item-a" href="/workshop/list">Paskaitų informacija</a></li>
                <li><a class="item-a" href="/administrator/overview">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>

