{% extends "::base.html.twig" %}

{% block title %}AppBundle:Attendance:list{% endblock %}

{% block body %}
<h1>Lankomumas</h1>

    <article class="article">
        <br>
        <h1 class="acenter"> lankomumas</h1><br>
        <table class="table table-striped table-hover ">
            <thead>
            <tr class="table-header">
                <th>Studentas</th><th>Lankomumas</th>
            </tr>
            </thead>

            <tbody>
            {% for attendance in attendances %}
                <tr>
                    <td>{{ attendance.student.name }}</td>
                    <td>{{ attendance.workshop.title }}</td>
                    {% if attendance.present %}
                        <td><input type="checkbox" id="checkbox" checked>
                            <label for="checkbox"></label></td>
                    {% else %}
                        <td><input type="checkbox" id="checkbox">
                            <label for="checkbox"></label></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
