{% extends "::base.html.twig" %}

{% block title %}AppBundle:Attendance:list{% endblock %}

{% block body %}
    <article class="article">
        <br>
        <h1 class="acenter">Lankomumas</h1><br>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
            <th>Studentas / Paskaita</th>
            {% for workshop in workshops %}
            <th width="17%">{{ workshop.title }}</th>
            {% endfor %}
            </tr>
            </thead>

            <tbody>

            {% for i in workshops[0].attendance %}
                <tr>
                    <td>{{ workshops[0].attendance[loop.index0].student.name }}</td>
                    {% for workshop in workshops %}
                        <td><input type="checkbox" class="js-attendance-submit" id="checkbox" data-attendace={{ workshop.id }} data-user={{ workshop.attendance[loop.parent.loop.index0].student.id }} {% if workshop.attendance[loop.parent.loop.index0].present %}checked{% endif %}>
                            <label for="checkbox"></label></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
