{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:list{% endblock %}

{% block body %}
<h1>Page for displaying registered system users</h1>
    <ul>
    {% for user in users %}
        <li>{{ user.getName }} {{ user.getEmail }}</li>
    {% endfor %}
    </ul>
{% endblock %}
