{% extends "::base.html.twig" %}

{% block title %}NFQ Akademija{% endblock %}

{% block body %}
<article class="article user-list">
    <br><h1>Profilis</h1><br>


    <table class="table table-hover">
        <tbody>
        {% for user in users %}
            {% if user.getName ==  app.user.Name  %}

                <tr>
                    <th>Vardas, Pavardė</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>

                </tr>
                <tr>
                    <th>El. paštas</th>
                    <td>{{ user.email }}</td>

                </tr>
                <tr>
                    <th>Rolė</th>
                    <td class="to-lowercase">
                        {% for role in user.roles %}
                            {{ role }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Aktyvumas</th>
                    <td>{% if user.enabled %}
                            aktyvus
                        {% else %}
                            neaktyvus
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}
