{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %} <div class="container">
    {% include "::inc/navGeras.html.twig" %}

    <article class="article">


            <br>
            <h1 class="acenter">Paskaitų informacija</h1><br>
            <table class="table">
                <th>Nr.</th><th>Pavadinimas</th><th>Aprašymas</th><th>Dėstytojas</th><th></th>

            </table>

    </article>
    </div>


{% endblock %}