{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %}
    {% include "::inc/nav.html.twig" %}


    <article class="article">
        <div class="container">

        <h1>Pažymiai</h1>
            <a class="aa" href="#">Edit</a>
        <table class="table table-striped table-hover ">
            <thead>
            <tr class="table-header">
                <th>Komanda</th>
                <th>Vardas, Pavardė</th>
                <th>Dizainas</th>
                <th>Planavimas</th>
                <th>MySQL</th>
                <th>GitHub</th>
            </tr>
            </thead>



                <tbody>
                <tr class="active1">
                    <td>4. Terminal_noobs</td>
                    <td>Matas Minelga</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>

                <tr class="active">
                    <td>4. Terminal_noobs</td>
                    <td>Mantas Narkevičius</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>

                <tr class="active">
                    <td>4. Terminal_noobs</td>
                    <td>Viktorija Ražaitė</td>
                    <td>10</td>
                    <td>10</td>
                    <td>0</td>
                    <td>10</td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr class="active">
                    <td>5. Kita_komanda</td>
                    <td>Jonas Jonaitis</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr class="active">
                    <td>...</td> <td>...</td> <td>...</td>
                    <td>...</td> <td>...</td> <td>...</td>
                </tr>

                </tbody>


        </table>

        </div>
        </article>


{% endblock %}
