{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %}
    {% include "::inc/navGeras.html.twig" %}


    <article class="article">
        <div class="container">
<br>
        <h1 class="acenter">Pažymiai</h1><br>
            <a class="aa" href="#">Edit</a><br>

            <table class="table table-hover">
                <thead>
                <tr class="table-header">
                    <th>Komanda</th>
                    <th>Vardas, Pavardė</th>
                    <th>Dizainas</th>
                    <th>Planavimas</th>
                    <th>MySQL</th>
                    <th>GitHub</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>4. Terminal_noobs</td>
                    <td>Matas Minelga</td>

                    <td><input type="integer" maxlength="2" size="2" value="10"></td>
                    <td><input type="integer" maxlength="2" size="2" value="10"></td>
                    <td><input type="integer" maxlength="2" size="2" value="10"></td>
                    <td><input type="integer" maxlength="2" size="2" value="10"></td>
                    <!--
                    <td><td><input type="text" value="10"></td></td>
                    <td><td><input type="text" value="10"></td></td>
                    <td><td><input type="text" value="10"></td></td>
                    -->
                </tr>
                <tr>
                    <td>4. Terminal_noobs</td>
                    <td>Mantas Narkevičius</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>4. Terminal_noobs</td>
                    <td>Viktorija Ražaitė</td>
                    <td>10</td>
                    <td>10</td>
                    <td>0</td>
                    <td>10</td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td>X.Kita_komanda</td>
                    <td>Pirmas Žmogus</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>X.Kita_komanda</td>
                    <td>Antras Žmogus</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>X.Kita_komanda</td>
                    <td>Trečias Žmogus</td>
                    <td>10</td>
                    <td>10</td>
                    <td>0</td>
                    <td>10</td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td>X.Kita_komanda</td>
                    <td>Pirmas Žmogus</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>X.Kita_komanda</td>
                    <td>Antras Žmogus</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>X.Kita_komanda</td>
                    <td>Trečias Žmogus</td>
                    <td>10</td>
                    <td>10</td>
                    <td>0</td>
                    <td>10</td>
                </tr>
                </tbody>
            </table>
        </div>



        </div>
        </article>


{% endblock %}
